{% extends "base.html" %}
{% load addcss %}

{% block body %}
    <div class="container">
        <h3>Please Login</h3>
        <div class="jumbotron">
            <form method="POST" action="">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {{ field.errors | yesno:"has-error,," }}">
                        {{ field.label_tag }} {{ field | addcss:"form-control input-lg"}}
                        {% if field.errors %}
                            <span id="help_{{ field.id_for_label }}" class="help-block">
                              {% for error in field.errors %}
                                {{ error }}<br />
                              {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-default btn-block">Login</button>
                <p style="margin-top: 15px" class="text-center">OR</p>
                <a href="{% url 'sso:begin' 'nus' %}" class="btn btn-default btn-block">
                    Login using NUSNET
                </a>
            </form>
        </div>
    </div>
{% endblock %}