{% extends "base.html" %}
{% load addcss %}

{% block body %}
    <div class="container">
        <h3>Welcome to Projection!</h3>
        <div class="jumbotron text-center">
            <div class="btn-group" role="group" aria-label="Login or Signup">
                <h4>Welcome!</h4>
                <a href="{% url 'system:register' %}" role="button" class="btn btn-lg btn-default">Signup</a>
               <a href="{% url 'authentication:login' %}" role="button" class="btn btn-lg btn-default">Login</a>
            </div>
        </div>
    </div>
{% endblock %}