{% extends "base.html" %}
{% load addcss %}

{% block body %}
    <div class="container">
        <h3>Add a new Project Group</h3>
        <div class="jumbotron">
            <form method="POST" action="">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {{ field.errors | yesno:"has-error,," }}">
                        {{ field.label_tag }} {{ field | addcss:"form-control input-lg"}}
                        {% if field.errors %}
                            <span id="help_{{ field.id_for_label }}" class="help-block">
                              {% for error in field.errors %}
                                {{ error }}<br />
                              {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-default btn-block">Add Project Group!</button>
            </form>
        </div>
    </div>
{% endblock %}